   
    <div class="govuk-!-margin-top-4 account-banner">
      <span class= "govuk-body-s" style="padding-right: 20px;">{{ data['emailAddress'] or "example@email.com" }}:</span>
      <span style="padding-right: 20px;"><a href="" id="your-details" class="govuk-link">Manage account</a></span>
      <span style="padding-right: 20px;"><a href="" id="your-filings" class="govuk-link">Your filings</a></span>
      <span style="padding-right: 20px;"><a href="" id="companies-you-follow" class="govuk-link">Companies you follow</a></span>
      <span style="padding-right: 20px;"><a href="" id="your-basket" class="govuk-link">Basket(0)</a></span>
      <a href="#">Sign out</a>
    </div>