<!-- Note to developers: THIS IS NOT PRODUCTION CODE, DO NOT COPY refer to Mural https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1751288082984/650f2035e2ed5316a71942cd5458bd757ffb6050 for Design System elements-->

<!-- Note to developers: THIS IS NOT PRODUCTION CODE, DO NOT COPY refer to Mural https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1751288082984/650f2035e2ed5316a71942cd5458bd757ffb6050 for Design System elements-->

<!-- Note to developers: THIS IS NOT PRODUCTION CODE, DO NOT COPY refer to Mural https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1751288082984/650f2035e2ed5316a71942cd5458bd757ffb6050 for Design System elements-->

<!-- Note to developers: THIS IS NOT PRODUCTION CODE, DO NOT COPY refer to Mural https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1751288082984/650f2035e2ed5316a71942cd5458bd757ffb6050 for Design System elements-->

<!-- Note to developers: THIS IS NOT PRODUCTION CODE, DO NOT COPY refer to Mural https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1751288082984/650f2035e2ed5316a71942cd5458bd757ffb6050 for Design System elements-->


{% extends "layouts/main.html" %}
{% block header %}

  <div style="background:#0b0c0c; padding:10px 0;">
    <div class="govuk-width-container" style="display:flex; align-items:center;">
      <a href="/shortcuts" style="text-decoration:none; margin-right:10px;">
        <img src="http://resources.companieshouse.gov.uk/images/royal-coat-of-arms-white.png"
             alt="UK Government crest" height="32">
      </a>
      <a href="https://www.gov.uk/government/organisations/companies-house"
         style="font-family:Helvetica,Arial,sans-serif;
                font-size:28px;
                font-weight:700;
                color:#efefef;
                text-decoration:none;">
        Companies House
      </a>
    </div>
  </div>

  <div style="background-color:#005EA5; height:10px; width:100%;"></div>
{% endblock %}

{% block beforeContent %}
  {% include "/includes/language-toggle.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Authentication code requested</h1>

    <p class="govuk-body">
      An authentication code has been requested for
      <span class="govuk-!-font-weight-bold"><br>
        LAWYERS JERSEY LIMITED (SF0000623)
      </span><br>
    </p>

    <p class="govuk-body">
      The code will be sent by post to the selected establishment address below (normally within 5 working days).
    </p>

    {% set addresses = [
      "Lawers Estate Office, <br>Comrie, <br>Lawers House",
      "1 Apple Street, <br>Cardiff, <br>CF12 3AB",
      "14 Rue des Lilas, <br>Paris, <br>75010, France",
      "22 Calle Mayor, <br>Madrid, <br>28013, Spain",
      "Via Roma 45, <br>Rome, <br>00184, Italy",
      "Alexanderplatz 12, <br>Berlin, <br>10178, Germany",
      "Rua da Flores 8, <br>Lisbon, <br>1200-192, Portugal",
      "3 Avenue Louise, <br>Brussels, <br>1050, Belgium",
      "Mariahilfer Straße 99, <br>Vienna, <br>1060, Austria",
      "Drottninggatan 42, <br>Stockholm, <br>11121, Sweden",
      "Karl Johans gate 15, <br>Oslo, <br>0154, Norway",
      "Nyhavn 18, <br>Copenhagen, <br>1051, Denmark",
      "Prinsengracht 220, <br>Amsterdam, <br>1016, Netherlands",
      "9 Ermou Street, <br>Athens, <br>10563, Greece",
      "Bahnhofstrasse 12, <br>Zurich, <br>8001, Switzerland",
      "Wenceslas Square 31, <br>Prague, <br>11000, Czech Republic",
      "Nowy Świat 5, <br>Warsaw, <br>00-496, Poland",
      "Andrássy út 21, <br>Budapest, <br>1061, Hungary",
      "Mannerheimintie 10, <br>Helsinki, <br>00100, Finland",
      "Stradun 3, <br>Dubrovnik, <br>20000, Croatia",
      "Vitosha Boulevard 12, <br>Sofia, <br>1000, Bulgaria",
      "Gedimino pr. 25, <br>Vilnius, <br>LT-01103, Lithuania",
      "Brīvības iela 8, <br>Riga, <br>LV-1050, Latvia",
      "Viru tänav 6, <br>Tallinn, <br>10111, Estonia",
      "Ilica 44, <br>Zagreb, <br>10000, Croatia",
      "Prešeren Square 2, <br>Ljubljana, <br>1000, Slovenia",
      "Republic Street 15, <br>Valletta, <br>VLT1111, Malta",
      "Laugavegur 12, <br>Reykjavik, <br>101, Iceland",
      "Atatürk Bulvarı 33, <br>Ankara, <br>06000, Turkey",
      "Istiklal Caddesi 45, <br>Istanbul, <br>34433, Turkey",
      "12 Tahrir Square, <br>Cairo, <br>11511, Egypt",
      "500 Fifth Avenue, <br>New York, <br>NY 10110, USA",
      "120 Bloor Street, <br>Toronto, <br>ON M5S 1M8, Canada",
      "88 George Street, <br>Sydney, <br>NSW 2000, Australia",
      "9 Lambton Quay, <br>Wellington, <br>6011, New Zealand",
      "1-2-3 Shibuya, <br>Tokyo, <br>150-0002, Japan",
      "18 Queen’s Road, <br>Central, <br>Hong Kong",
      "25 Orchard Road, <br>Singapore 238888"
    ] %}

    {% set selected_index = 0 %}
    {% if data['whereDoYouLive'] is defined and data['whereDoYouLive'] | int >= 0 and data['whereDoYouLive'] | int < addresses | length %}
      {% set selected_index = data['whereDoYouLive'] | int %}
    {% endif %}

    <p class="govuk-body govuk-!-font-weight-bold">
      {{ addresses[selected_index] | safe }}
    </p>

    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-top-6"
    }) }}

  </div>
</div>
{% endblock %}
