{% extends "layout.html" %}
{% block header %}
  {{ govukHeader({
    homepageUrl: "/oc-auth-code/index",
    serviceName: "Overseas companies - request an auth code",
    serviceUrl: "/oc-auth-code/index"
  }) }}
{% endblock %}

{% block pageTitle %}
  Overseas companies - request an auth code
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-xl">
            Overseas companies - request an auth code</h1>

               <p><a class="govuk-link" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1751288082984/650f2035e2ed5316a71942cd5458bd757ffb6050" rel="noreferrer noopener" target="_blank">Screen flow in Mural (opens in new tab)</a></p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="company-info" class="govuk-link">CHS profile (not signed in)</a>
            </li>
            <li>
              <a href="sign-in-to-ch" class="govuk-link">Sign in to Companies House</a>
            </li>
            <li>
              <a href="gov-one-log-in" class="govuk-link">Create your GOV.UK One Login or sign in</a>
            </li>
                <li>
              <a href="gov-onelogin-email" class="govuk-link">Enter your email address to sign in to your GOV.UK One Login</a>
            </li>
            <li>
              <a href="gov-onelogin-password"  class="govuk-link">Enter your password</a>
            </li>
            <li>
              <a href="gov-onelogin-enter-code" class="govuk-link">Check your phone</a>
            </li>
                <li>
              <a href="company-profile-signed-in" class="govuk-link">CHS profile (signed in)</a>
            </li>
       
           <li>
              <a href="company-auth-code" class="govuk-link">Enter the company authentication code</a>
            </li>
            <li>
              <a href="V2/review-address" class="govuk-link">Review address  (single UK establishment address)</a>
            </li>
                <li>
              <a href="V2/request-auth-code-multiple-uk-address" class="govuk-link">Which address should we use to send the authentication code? (multiple UK establishment addresses)</a>
            </li>
                <li>
              <a href="V2/review-address-multiple-uk-address" class="govuk-link">Review address  (multiple UK establishment addresses)</a>
            </li>
           
        
              
            
                <li>
              <a href="V2/auth-code-requested" class="govuk-link">Authentication code requested </a>
            </li>
            <li>
              <a href="journey-end" class="govuk-link">CHS profile (signed in and auth code ready to file)</a>
            </li>
            
          </ul>


      
        </div>
      </div>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}