{% extends "layout.html" %}
{% block header %}
  {{ govukHeader({
    homepageUrl: "/oc-auth-code/index",
    serviceName: "Overseas companies - request an auth code",
    serviceUrl: "/oc-auth-code/index"
  }) }}
{% endblock %}

{% block pageTitle %}
  Overseas companies - request an auth code
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-xl">
            Overseas companies - request an auth code</h1>

               <p><a class="govuk-link" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1751288082984/650f2035e2ed5316a71942cd5458bd757ffb6050?wid=0-1751290555405" rel="noreferrer noopener" target="_blank">Screen flow in Mural (opens in new tab)</a></p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="company-info">CHS profile (not signed in)</a>
            </li>
            <li>
              <a href="sign-in-to-ch">Sign in to Companies House</a>
            </li>
            <li>
              <a href="gov-one-log-in">Create your GOV.UK One Login or sign in</a>
            </li>
                <li>
              <a href="gov-onelogin-email">Enter your email address to sign in to your GOV.UK One Login</a>
            </li>
            <li>
              <a href="gov-onelogin-password">Enter your password</a>
            </li>
            <li>
              <a href="gov-onelogin-enter-code">Check your phone</a>
            </li>
                <li>
              <a href="request-auth-code">Request an authentication code (blank)</a>
            </li>
            <li>
              <a href="request-auth-code-single-uk-address">Request an authentication code (single UK establishment address)</a>
            </li>
            <li>
              <a href="request-auth-code-multiple-uk-address">Request an authentication code (multiple UK establishment addresses)</a>
            </li>
                <li>
              <a href="auth-code-requested">Authentication code requested</a>
            </li>
            <li>
              <a href="#">Here</a>
            </li>
            <li>
              <a href="#">Here</a>
            </li>
          </ul>
        </div>
      </div>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}