{% extends "layouts/main.html" %}
{% block header %}

  <!-- Companies House header -->
  <div style="background:#0b0c0c; padding:10px 0;">
    <div class="govuk-width-container" style="display:flex; align-items:center;">
      <a href="/shortcuts" style="text-decoration:none; margin-right:10px;">
        <img src="http://resources.companieshouse.gov.uk/images/royal-coat-of-arms-white.png"
             alt="UK Government crest" height="32">
      </a>
      <a href="https://www.gov.uk/government/organisations/companies-house"
         style="font-family:Helvetica,Arial,sans-serif;
                font-size:28px;
                font-weight:700;
                color:#efefef;
                text-decoration:none;">
        Companies House
      </a>
    </div>
  </div>

  <!-- Blue underline -->
  <div style="background-color:#005EA5; height:10px; width:100%;"></div>
{% endblock %}

{% block beforeContent %}
  {% include "/includes/language-toggle.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Request an authentication code</h1>

    <p class="govuk-body">
      We'll send the authentication code for
      <span class="govuk-!-font-weight-bold">
        LAWYERS JERSEY LIMITED (SF0000623)
      </span>
      to one of its UK establishment addresses. <br><br>     
    </p>

    <p class="govuk-body">
      <strong>Which UK establishment address should we use to send the code?</strong>
    </p>

    <form class="form" action="auth-code-requested" method="post">
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="lawers" checked>
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Lawers Estate Office, Comrie, Lawers House
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="cardiff">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            1 Apple Street, Cardiff, CF12 3AB
          </label>
        </div>
      </div>
      
      <button type="submit" class="govuk-button govuk-!-margin-top-6">Request authentication code</button>
    </form>

    <div class="ur-shortcuts">
      <p class="govuk-body-s govuk-!-margin-bottom-1">UR shortcut:</p>
      <ul class="govuk-list govuk-body-s govuk-!-margin-top-1">
        <li><a class="govuk-link" href="request-auth-code-single-uk-address">Screen for a single UK establishment address</a></li>
      </ul>
    </div>

  </div>
</div>

{% endblock %}