<!-- Note to developers: THIS IS NOT PRODUCTION CODE, DO NOT COPY refer to Mural https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1751288082984/650f2035e2ed5316a71942cd5458bd757ffb6050 for Design System elements-->

<!-- Note to developers: THIS IS NOT PRODUCTION CODE, DO NOT COPY refer to Mural https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1751288082984/650f2035e2ed5316a71942cd5458bd757ffb6050 for Design System elements-->

<!-- Note to developers: THIS IS NOT PRODUCTION CODE, DO NOT COPY refer to Mural https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1751288082984/650f2035e2ed5316a71942cd5458bd757ffb6050 for Design System elements-->

<!-- Note to developers: THIS IS NOT PRODUCTION CODE, DO NOT COPY refer to Mural https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1751288082984/650f2035e2ed5316a71942cd5458bd757ffb6050 for Design System elements-->

<!-- Note to developers: THIS IS NOT PRODUCTION CODE, DO NOT COPY refer to Mural https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1751288082984/650f2035e2ed5316a71942cd5458bd757ffb6050 for Design System elements-->


{% extends "layouts/main.html" %}
{% block header %}

  <div style="background:#0b0c0c; padding:10px 0;">
    <div class="govuk-width-container" style="display:flex; align-items:center;">
      <a href="/shortcuts" style="text-decoration:none; margin-right:10px;">
        <img src="http://resources.companieshouse.gov.uk/images/royal-coat-of-arms-white.png"
             alt="UK Government crest" height="32">
      </a>
      <a href="https://www.gov.uk/government/organisations/companies-house"
         style="font-family:Helvetica,Arial,sans-serif;
                font-size:28px;
                font-weight:700;
                color:#efefef;
                text-decoration:none;">
        Companies House
      </a>
    </div>
  </div>

  <div style="background-color:#005EA5; height:10px; width:100%;"></div>
{% endblock %}

{% block beforeContent %}
  {% include "/includes/language-toggle.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Request an authentication code</h1>

    <p class="govuk-body">
      We'll send the authentication code for
      <span class="govuk-!-font-weight-bold">
        LAWYERS JERSEY LIMITED (SF0000623)
      </span>
      to one of its establishment addresses.<br><br>     
    </p>

    <p class="govuk-body">
      <strong>Which address should we use to send the code?</strong>
    </p>

    <form class="form" action="auth-code-requested" method="post">
      <div class="govuk-radios" data-module="govuk-radios">

        {% set addresses = [
          "Lawers Estate Office, Comrie, Lawers House",
          "1 Apple Street, Cardiff, CF12 3AB",
          "14 Rue des Lilas, Paris, 75010, France",
          "22 Calle Mayor, Madrid, 28013, Spain",
          "Via Roma 45, Rome, 00184, Italy",
          "Alexanderplatz 12, Berlin, 10178, Germany",
          "Rua da Flores 8, Lisbon, 1200-192, Portugal",
          "3 Avenue Louise, Brussels, 1050, Belgium",
          "Mariahilfer Straße 99, Vienna, 1060, Austria",
          "Drottninggatan 42, Stockholm, 11121, Sweden",
          "Karl Johans gate 15, Oslo, 0154, Norway",
          "Nyhavn 18, Copenhagen, 1051, Denmark",
          "Prinsengracht 220, Amsterdam, 1016, Netherlands",
          "9 Ermou Street, Athens, 10563, Greece",
          "Bahnhofstrasse 12, Zurich, 8001, Switzerland",
          "Wenceslas Square 31, Prague, 11000, Czech Republic",
          "Nowy Świat 5, Warsaw, 00-496, Poland",
          "Andrássy út 21, Budapest, 1061, Hungary",
          "Mannerheimintie 10, Helsinki, 00100, Finland",
          "Stradun 3, Dubrovnik, 20000, Croatia",
          "Vitosha Boulevard 12, Sofia, 1000, Bulgaria",
          "Gedimino pr. 25, Vilnius, LT-01103, Lithuania",
          "Brīvības iela 8, Riga, LV-1050, Latvia",
          "Viru tänav 6, Tallinn, 10111, Estonia",
          "Ilica 44, Zagreb, 10000, Croatia",
          "Prešeren Square 2, Ljubljana, 1000, Slovenia",
          "Republic Street 15, Valletta, VLT1111, Malta",
          "Laugavegur 12, Reykjavik, 101, Iceland",
          "Atatürk Bulvarı 33, Ankara, 06000, Turkey",
          "Istiklal Caddesi 45, Istanbul, 34433, Turkey",
          "12 Tahrir Square, Cairo, 11511, Egypt",
          "500 Fifth Avenue, New York, NY 10110, USA",
          "120 Bloor Street, Toronto, ON M5S 1M8, Canada",
          "88 George Street, Sydney, NSW 2000, Australia",
          "9 Lambton Quay, Wellington, 6011, New Zealand",
          "1-2-3 Shibuya, Tokyo, 150-0002, Japan",
          "18 Queen’s Road, Central, Hong Kong",
          "25 Orchard Road, Singapore 238888"
        ] %}

        {% for address in addresses %}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input"
                   id="whereDoYouLive-{{ loop.index0 }}"
                   name="whereDoYouLive"
                   type="radio"
                   value="{{ loop.index0 }}"
                   {% if loop.index0 == 0 %}checked{% endif %}>
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-{{ loop.index0 }}">
              {{ address }}
            </label>
          </div>
        {% endfor %}

      </div>

      <button type="submit" class="govuk-button govuk-!-margin-top-6">Request authentication code</button>
    </form>

    <div class="ur-shortcuts">
      <p class="govuk-body-s govuk-!-margin-bottom-1">UR shortcut:</p>
      <ul class="govuk-list govuk-body-s govuk-!-margin-top-1">
        <li><a class="govuk-link" href="request-auth-code-single-uk-address">Screen for a single UK establishment address</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}

