
{% extends "layout.html" %}

{% block pageTitle %}
Ad-hoc prototype work
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width homepage">

      <h1 class="govuk-heading-xl">
        Choose prototype:</h1>{{releaseVersion | log }}

      <a href="/financial-sanctions-checker/index" class="govuk-grid-column-one-quarter govuk-caption-m">Financial sanctions checker</a>
      <a href="/scrs/index" class="govuk-grid-column-one-quarter govuk-caption-m">Streamlined company registration service</a>
      <a href="/accounts-reminder/index" class="govuk-grid-column-one-quarter govuk-caption-m">Accounts eReminder</a>
      <a href="/misc/index" class="govuk-grid-column-one-quarter govuk-caption-m">Misc</a>
      <a href="/cookies/index" class="govuk-grid-column-one-quarter govuk-caption-m">Cookie consent</a>
      <a href="/bulk-downloads/index" class="govuk-grid-column-one-quarter govuk-caption-m">Bulk downloads</a>
      <a href="/oc-auth-code/index" class="govuk-grid-column-one-quarter govuk-caption-m">Overseas companies - request an auth code</a>

    </div>
  </div>
{% endblock %}
